.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.linha1
{
    background: #F5F6FA;
}

ion-tab-button{
  background: #618078;
    color: white;
}

.modal-wrapper{
  background: transparent !important;
}
// linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
ion-header {

    ion-toolbar, ion-item {
      // --background: #f1f5f8;
      // background: #f1f5f8;
      --background: var(--ion-color-primary);
      background: var(--ion-color-primary);
      padding: 0 10px;
    }

    ion-toolbar {
      .bordered {
        --border-radius: 10px;
        --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
      }
    }

    ion-item {
      h3 {
        font-weight: 700;
        font-size: 14px;
      }

      p {
        font-weight: 500;
        font-size: 14px;
      }

      ion-avatar {
        --border-radius: 40%;
      }
    }

  }

  // @font-face {
  //   font-family: 'Roboto';    //This is what we are going to call
  //   // src: url('../src/assets/fonts/Roboto-Light.ttf');
  // }

  ion-content {
    --background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255) 35%, rgba(255, 255, 255) 100%);

    .slides {
        // height: 7rem;
      // background: #f1f5f8;
      background: var(--ion-color-primary);
      padding: 4px 10px 20px 10px;
      border-radius: 0 0 28px 28px;
    }

    ion-card {
      width: 100%;
      height: 5rem;
      box-shadow: none;
      border-radius: 14px;
      // padding: 14px;
      // background: rgba(255,255,255,.8);
      background: var(--ion-color-primary);
      .main {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        // margin-top: -24px;
        // background: #FFFFFF;
        // box-shadow:  7px 7px 20px #dbdfe2,
        //        -7px -7px 20px #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 18px;
        }



      }

      .files {
          padding-top: 14px;
      }

    }

    .container {


      ion-item {
        --background: rgba(255,255,255,.1);
        padding: 0;
        margin: 14px 0;
        // --border-radius: 14px;
        color: #FFFFFF;
        font-weight: 600;

        ion-label {
          padding: 6px 0;

          h4 {
            font-weight: 600;
            font-size: 16px;
          }
          h6 {
            color: rgba(255,255,255,.66);
          }
        }

      }

      h2 {
        padding-bottom: 8px;
      }

    }

  }



  .info-row-col
{
  width: 30px;
}

//@at-root
ion-modal {
  --background: #27232300 !important;
  .ion-page {
    color: red !important;
    align-items: center !important;
    justify-content: center !important;
  }
  ion-datetime {
    border-radius: 8px;
    title{
      color: red !important;
    }

  }
}
    .calendar-day {
      font-size: 20px;
      --title-color: red;
      background: red;
      color: red;
  }

.myModal {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;
  overflow: hidden;
  // z-index: 0;
}

.myModal {
  display: flex;
  align-items: center;
  justify-content: center;

  --width: 93vw;
  --height: 93vh;
  --border-radius: 10px;

  .control {
    background: #f7f7f7;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 16px 16px !important;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

*{
  // font-family: 'Roboto', sans-serif;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium;
}


